body{
    font: 20px Ariel, sans-serif ;
}
.navbar {
    background-color: #58555A;
}

.quem-sou-eu {
    background-color:  #7F7F7F;  
    color: white;
    
}

.margin {
   padding-bottom: 50px;
   padding-top: 10px;

}

.cont {
    margin-top: 50pt;
}
.falecomigo { 
    background-color:  #58555A; 
    color: white;
}


.curriculo {
background-color: #000000;
color: white;
    
}



.mais {
    background-color :#7F7F7F;
    color: rgb(17, 12, 12);
    

    
}

.mai { 
    margin-top: 520px;
    height: 500px;
   
}

.serviços {
    background-color : #58555A;
    color: white;
}



.Perfil {
    background-color : #2851A3;
    color: rgb(17, 12, 12);
    
}




.conti { 
    left: 350px;
    height: 500px;
  
}












.bg-footer {
    background-color: #000000;
    color: white;
}
