body{
    font: 20px Ariel, sans-serif ;
}
.navbar {
    background-color: #09F081;
}

.quem-sou-eu {
    background-color:   #08C76B;  
    color: white;
    
}

.margin {
   padding-bottom: 50px;
   padding-top: 10px;

}

.cont {
    margin-top: 50pt;
}
.falecomigo { 
    background-color:  #09E078; 
    color: white;
}


.curriculo {
background-color: #046134;
color: white;
    
}



.mais {
    background-color : #06A156 ;
    color: rgb(17, 12, 12);
    

    
}

.mai { 
    margin-top: 520px;
    height: 500px;
   
}

.serviços {
    background-color : #06A156;
    color: white;
}



.Perfil {
    background-color : #2851A3;
    color: rgb(17, 12, 12);
    
}




.conti { 
    left: 350px;
    height: 500px;
  
}












.bg-footer {
    background-color: #046134;
    color: white;
}
