body{
    font: 20px Ariel, sans-serif ;
}
.navbar {
    background-color: #ECF3FF;
}

.quem-sou-eu {
    background-color:   #AAC9FF;;  
    color: white;
    
}

.margin {
   padding-bottom: 50px;
   padding-top: 10px;

}

.cont {
    margin-top: 50pt;
}
.falecomigo { 
    background-color:  #77A7FF; 
    color: white;
}


.curriculo {
background-color: #1877F2;
color: white;
    
}



.mais {
    background-color : #2851A3 ;
    color: rgb(17, 12, 12);
    

    
}

.mai { 
    margin-top: 520px;
    height: 500px;
   
}

.serviços {
    background-color : #1D3C78;
    color: white;
}



.Perfil {
    background-color :  #F2F3F5;
    color: rgb(17, 12, 12);
    
}




.conti { 
    left: 350px;
    height: 500px;
  
}












.bg-footer {
    background-color: #444950;
    color: white;
}
